@(procedures: List[entities.Procedure], procedureForm: Form[entities.Procedure])

@import helper._

@main("CRUD Actions") {

	<h3>Procedimentos</h3>
	
	
		@for(procedure <- procedures) {
			Identificação do Procedimento: @procedure.getId() </br>
			Tipo: @procedure.getProcedureType() </br>
			Responsável: @procedure.getDoctor() </br>
			Auxiliar: @procedure.getAuxiliar() </br>
			Animal: @procedure.getAnimal() </br>
			
			
			<form action="@routes.Procedures.deleteProcedure(procedure.getId())">
            	<input type="submit" value="Deletar">
            </form>
            
			<p>------------------------------------------</p>
		}
	
	
	</br></br>
	
	<h3>Cadastre um novo procedimento</h3>

	<form action="@routes.Procedures.addProcedure()" method="post">
    	Tipo do procedimento: <input name="procedureType"> </br>
    	Descrição: <input name="description"> </br>
    	Responsável: <input name="doctor"> </br>
    	Auxiliar: <input name="auxiliar"> </br>
    	Animal: <input name="animal"> </br>
    	<input type="submit" value="Cadastrar">

    </form>

}